<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
    <ion-button [slot]="'end'" (click)="logout()">
      Logout
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Commands Used:</p>
  <p>To create ionic project : ionic start AppName --capacitor</p>
  <p>To include finger print dependencies :</p>
  <p>  1) npm install cordova-plugin-fingerprint-aio</p>
  <p>  2) npm install @ionic-native/fingerprint-aio</p>
  <p>To get dependencies: npm install</p>
  <p>To run the build : ionic build ; prod version : ionic build --prod</p>
  <p>To add android : npx cap add android</p>
  <p>To add ios : npx cap add ios</p>
  <p>To open app in android studio : npx cap open android</p>
  <p>To open app in XCode : npx cap open ios</p>

  <p>In android studio:</p>
  <p>After the gradle build is complete, open build > Build Bundles/ Apk(s) > Build Apk</p>

</ion-content>
