<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  Commands Used:
  To create ionic project : ionic start AppName --capacitor
  To include finger print dependencies :
    1) npm install cordova-plugin-fingerprint-aio
    2) npm install @ionic-native/fingerprint-aio
  To get dependencies: npm install
  To run the build : ionic build ; prod version : ionic build --prod
  To add android : npx cap add android
  To add ios : npx cap add ios
  To open app in android studio : npx cap open android
  To open app in XCode : npx cap open ios

  In android studio:
   After the gradle build is complete, open build > Build Bundles/ Apk(s) > Build Apk

</ion-content>
