<ion-content>
  <ion-card class="login-card">
    <ion-card-header class="login-card-header">
      Login
    </ion-card-header>
    <ion-card-content class="login-card-content">
      <form>
        <ion-button *ngIf="!mobile" (click)="logIn()">
          Login
        </ion-button>
        <div *ngIf="mobile" class="fingerprint-container" (click)="checkFingerPrintAuth()">
          <ion-icon class="fingerprint" name="finger-print"></ion-icon>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
